Video_Song_Actors_01-24/
Video_Speech_Actors_01-24/
__pycache__/
source/__pycache__/
Color_Shifted_Videos/
Masked_Video_Output/
Occluded_Video_Output/
Color_Channel_Means/
Makefile
make.bat
source/OpenCV_References